
.box{

    padding: 20px;
    margin: 20px;
    float: left;
    border: 10px solid blue;

}

.dashed{
    border: 1px blue dashed;
}

.dotted{
    border: 1px blue dotted;
}

.double{
    border: 1px blue double;
}

.groove{
    border: 14px blue groove;
}

.insert{
    border: 14px blue insert;
}

.outset{
    border: 14 blue outset;
}

.ridge{
    border: 1px blue ridge;
}

.solid{
    border: 1px blue solid;
}