
/***************************************
* Author User
* Date 01.01.2100
*
****************************************/


/* Style all P tages */

p {
    font-size: 18px;
    color: green;
}

/*
#header p{
    font-size: 32px;
}
*/


